# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Django
db.sqlite3
staticfiles/
media/

# Django local settings / secrets
.env.*
*.env

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Docker
postgres_data/